@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway-sans);
  --font-mono: var(--font-raleway-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6e11b0;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Raleway", sans-serif;
}

.institution-card, .topic-card {
  @apply bg-gradient-to-r from-yellow-400 via-black via-5% to-black text-white rounded-lg p-4 shadow-md
}
